In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 第一堂課

## 用range快速生成list

In [2]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [3]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [4]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## for迴圈
for i in 一個串列:

In [5]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [14]:
s = 0
for i in range(1,101):
    s = s+i

In [15]:
s

5050

## list append

In [16]:
prices = [1024, 399, 20000]

In [17]:
c = 34.1415677

In [18]:
for p in prices:
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [19]:
L = []

In [20]:
L

[]

In [22]:
L.append(87)

In [23]:
L

[87]

In [25]:
L.append("X")

In [26]:
L

[87, 'X', 'X']

In [28]:
M = []
for p in prices:
    M.append(p*c)
M

[34960.9653248, 13622.485512300002, 682831.354]




# 第二堂課

## 字串分割

In [29]:
spam = input("輸入你想買的東西的價格: ")

輸入你想買的東西的價格: 1024,399,20000

In [30]:
spam

'1024,399,20000'

In [33]:
data = spam.split(',')
data

['1024', '399', '20000']

### float()浮點數     int()整數

In [34]:
for p in data:
    print(int(p)*c)

34960.9653248
13622.485512300002
682831.354

In [47]:
spam1 = input("輸入你想買的東西的價格: ")
c = 34.1415677
for p in spam1:
    print(float(p)*c)

輸入你想買的東西的價格: 200
68.2831354
0.0
0.0

In [38]:
p_list = []
spam = input("輸入你要買的東西價格: ")
data = spam.split(',')

for p in data:
    p=float(p)
    p_list.append(p*c)
    print("價格", int(p*c), "台幣")

輸入你要買的東西價格: 200
價格 6828 台幣

In [42]:
p_list

[6828.313540000001]

## 空白隔開

In [43]:
spam = '399 200 1024 21'

In [46]:
spam.split(' ')

['399', '200', '1024', '21']

In [48]:
spam = '399   200 1024  21'

In [49]:
spam.split(' ')

['399', '', '', '200', '1024', '', '21']

In [50]:
spam.split()

['399', '200', '1024', '21']

## 函數
用函數來換算匯率

In [51]:
def exchange(p):
    p = float(p)
    return(p*c)

In [52]:
exchange(399)

13622.485512300002

## map

map(f, L)

把f這個函數,作用到L list之中的每一個元素

In [53]:
L = '333 1024 25    78'.split()

In [54]:
L

['333', '1024', '25', '78']

In [55]:
list(map(exchange,L))

[11369.142044100001, 34960.9653248, 853.5391925000001, 2663.0422806]

### 緊急用的函數 'lambda'

名稱 = lambda 輸入 : 輸出

In [56]:
def f(x):
    return x**2

In [57]:
f(2)

4

In [58]:
g = lambda x:x**2

In [59]:
g(3)

9

In [60]:
L

['333', '1024', '25', '78']

In [62]:
list(map(lambda p:float(p), L ))

[333.0, 1024.0, 25.0, 78.0]

In [69]:
egg = [9, 4, 8, 7]
list(map(lambda x:x*2+1, egg))

[19, 9, 17, 15]

In [70]:
grades = [47, 58, 60, 75]

In [71]:
list(map(lambda g:np.sqrt(g)*10, grades))

[68.55654600401044, 76.15773105863909, 77.45966692414834, 86.60254037844388]

## list comprehension

In [72]:
L

['333', '1024', '25', '78']

In [73]:
[float(p)*c for p in L]

[11369.142044100001, 34960.9653248, 853.5391925000001, 2663.0422806]

# 第三堂課

## 字體顏色

### print("\033[顯示方式;前景色;背景色m文字內容")

顏色有特定代碼

### 較正規:print("\033[顯示方式;前景色;背景色m文字內容\033[0m")

## 合併list

In [75]:
L

['333', '1024', '25', '78']

In [93]:
s = ''
for i in L:
    s = s+i+','

In [97]:
s

'333,1024,25,78,'

In [98]:
s = s.rstrip(',')
s

'333,1024,25,78'

In [99]:
s[0]

'3'

In [101]:
s[:-1]

'333,1024,25,7'

In [102]:
','.join(L)

'333,1024,25,78'

## 物件中的method

In [103]:
egg = [12, 87, 55, 77, 32]

In [104]:
egg.sort()

In [105]:
egg

[12, 32, 55, 77, 87]

In [106]:
ham = "今天天氣很好"

In [107]:
ham[3]

'氣'

In [109]:
ham[::2]

'今天很'

In [110]:
ham[::-1]

'好很氣天天今'

In [112]:
from ipywidgets import interact

In [116]:
def move(n = 1):
    print(" "*n + "OuO")

In [117]:
interact(move, n = (1,40))

interactive(children=(IntSlider(value=1, description='n', max=40, min=1), Output()), _dom_classes=('widget-int…

In [127]:
def move(n = 1):
    print("@_@"+" "*n + "OuO")
interact(move, n = (10,40))

interactive(children=(IntSlider(value=10, description='n', max=40, min=10), Output()), _dom_classes=('widget-i…